* {box-sizing: border-box;}

body {
	background-color: #f7f5ec;
}

.header
	{
	color: #1f7b76;
	align: center;
	}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin-left : 5px;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .logo-container {
  float: left;
}

nav {
  float:right;
}

.navbar-custom a {
	text-align:right;
} 
.button {
 
  background-color: #1f7b76;
  border-radius: 10px;
  border: none;
  width: 100px; 
  height: 100px;
  font-size: 15px; 
	
  color: white;
  padding : 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


@media all and (max-width:480px) {
   .custom-class { width: 180px; height:90px; display:block; margin-top: 30px; }
   img.responsive {width: 100px; height:100px; margin:0px 0px 20px 40px; }
} 

footer{
	background-color: #f7f5ec;
	color: white;
}