<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>老人ホーム支援システム</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="css/main-style.css">
<link rel="stylesheet" href="css/login.css">


<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function() {
        null
    };
</script>


<title>Login Page</title>
</head>
<body>
	<div class="header">
		<h1 align="center"></h1><br><br><br>
	</div>
	<div class="form-signin">
		<div class="text-center mb-4">
		<img class="mb-6" th:src="@{images/logo.jpg}" alt="" width="72" height="72">
		<h1 class="title">老人ホーム支援システム</h1>
		</div>
	</div> 
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<form th:action="@{/sign_in}" method="post">
		<div class="row">
			<div class="col-md-6"></div>
			<div th:if="${param.logout}">
           		<p style="font-size: 25;">You have been logged out.</p>
   			</div>
   			<div th:if="${param.error}">
           		<p style="font-size: 25; color: #FF1C19;">Invalid Username and Password.</p>
   			</div>
   			<p th:if="${successMessage} != null" th:text="${successMessage}" style="color:#00529B;"></p>
		</div>
		<div class="form-group row ">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<label for="lbluserName">ユーザー名：</label>
				</div>
				<div class="col-md-6">
					<input type="text" id="userName" name="txtuserName" class="form-control" placeholder="ユーザー名"><br>
				</div>		
		</div>
		
		<div class="form-group row ">
		<div class="col-md-1"></div>
				<div class="col-md-3">
					<label for="lblpassword">パスワード：</label>
				</div>
				<div class="col-md-6">
					<input type="password" id="password" name="pwdpassword" class="form-control" placeholder="パスワード"><br>
				</div>
		</div>
		
        <div class="form-group row">
        <div class="col-lg-5"></div>
			    <label class="col-lg-5">
       				<a th:href="@{/ResetPassword}">パスワードを忘れた方はこちら</a>
    			</label>
		</div>
		
		<div class="form-group row text-center">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-lg btn-block btnStyle" type="submit" name="btnLogin">ログイン</button>
				</div>
				<div class="col-md-4"></div>		
						
		</div>
		</form>
			</div>
		</div>
	</div>
   <!-- footer-area -->
    <footer>
        <div class="row justify-content-center padding-top-15 amber-background" id="copy-right-footer">
            <p>&copy; Copyright <strong>Bliss Stock</strong>. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>