<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>老人ホーム支援システム</title>
    <link rel="shortcut icon" type="image/png" href="img/logo.png" />

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main-style.css">
    <link rel="stylesheet" href="css/password-style.css">
</head>

<body>
    <div class="container-fluid">
        <!-- navigation-bar-area -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/AdminOrHelperHome}"><img class="img-responsive" th:src="@{images/logo.jpg}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/AdminOrHelperHome}">ホーム </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- breadcrumb-area -->
        <div class="bc-icons-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb amber-background">
                    <li class="breadcrumb-item"><a class="black-text" th:href="@{/AdminOrHelperHome}">ホーム</a><i
                            class="fa fa-angle-right mx-4"></i></li>
                    <li class="breadcrumb-item active">パスワード変更</li>
                </ol>
            </nav>
        </div>

        <!-- form-area -->
        <div class="container-fluid">
            <div class="row justify-content-center padding-top-15">
                <div class="col-lg-7">
                    <form method="post" action="/ReLogin" th:object="${changePasswordForm}">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <small th:if="${errMsg} != null" th:text="${errMsg}" style="color:red;"></small>
                          </div>
                        
                            <div class="row">
                           <div class="col-md-4">
                               <label for="inputCurrentPassword">現在パスワード :</label> 			
                           </div>
                           <div class="col-md-7">
                                   <input type="password" th:field="*{currentPassword}" id="currentPassword" name="currentPassword" class="form-control" >
                                   <small th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></small>
                           </div>
                      </div><br>
                           <div class="row">
                           <div class="col-md-4">
                               <label for="inputOwnCode">新パスワード：</label>
                               
                           </div>
                           <div class="col-md-7"> 
                               <input type="password" th:field="*{newPassword}" id="newPassword" name="newPassword" class="form-control" >
                               <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></small>
                               </div> 
                           <div class="col-md-1">
                               <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                           </div>                                                                                                                                                            
                          </div><br>
                           <div class="row">
                           <div class="col-md-4">
                               <label for="inputOwnCode">新パスワード(確認)：</label>
                               
                           </div>
                           <div class="col-md-7">
                               <input type="password"  th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" class="form-control">
                           		<small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                           </div>
                           <div class="col-md-1">
                              <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-confirm-password"></span>
                           </div>
                          </div><br><br>
                          <div class="row justify-content-center">
                           <div class="col-md-3">
                               <button type="reset" class="btn btn-secondary">クリア</button>
                           </div>
                           <div class="col-md-4">
                                <button type="submit" class="btn btnPassword" >パスワード変更</button>
                          </div><br>
                  </div>
                   </div>
                  </form>
                </div>
            </div>
        </div>


   <!-- footer-area -->
    <footer>
        <div class="row justify-content-center padding-top-15 amber-background" id="copy-right-footer">
            <p>&copy; Copyright <strong>Bliss Stock</strong>. All Rights Reserved</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="main-js.js"></script>
     
    <script>
$(document).on('click', '.toggle-password', function() {
   $(this).toggleClass("fa-eye fa-eye-slash");    
   var input = $("#newPassword");
   input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
});

$(document).on('click', '.toggle-confirm-password', function() {
   $(this).toggleClass("fa-eye fa-eye-slash");
   var input = $("#confirmPassword");
   input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
});

</script>
</body>

</html>